<ngb-accordion #acc="ngbAccordion" activeIds="panelIdInto">
  <ngb-panel id="panelIdInto" title="Show/Hide introduction">
    <ng-template ngbPanelContent>
      Wikipedia: In finance, the Sharpe ratio (also known as the Sharpe index, the Sharpe measure, and the reward-to-variability ratio) measures the performance of an investment (e.g., a security or portfolio) compared to a risk-free asset, after adjusting for its risk. It is defined as the difference between the returns of the investment and the risk-free return, divided by the standard deviation of the investment (i.e., its volatility). It represents the additional amount of return that an investor receives per unit of increase in risk.
      It was named after William F. Sharpe, who developed it in 1966.
    </ng-template>
  </ngb-panel>
</ngb-accordion>