<p>
  request-tester works!
</p>

<tag-input [(ngModel)]="tickerSymbols" (ngModelChange)="change()"
  modelAsStrings="true"
  maxItems="4">
</tag-input>

<button (click)="getTestRequest()">
  Test API
</button>
<button (click)="makePortfolioCalculation()" *ngIf="performanceSeriesList && performanceSeriesList.length > 0">
  Make portfolio calculation
</button>
<button (click)="optimizeSharpe()" *ngIf="performanceSeriesList && performanceSeriesList.length > 0">
  Find optimized portfolio
</button>
<button (click)="testSimulationLogic()">
  Test simulation logic
</button>
response:
<div *ngFor="let performanceSeries of performanceSeriesList">
  <h3>{{performanceSeries.ticker}}: {{performanceSeries.dateFrom | date}} - {{performanceSeries.dateTo | date}}</h3>
  <p>Return: {{performanceSeries.return | percent:'.2'}}</p>
  <p>StDev: {{performanceSeries.stDev | percent:'.2'}}</p>
  <p>Sharpe: {{performanceSeries.sharpeRatio | number: '.3'}}</p>
</div>
<div *ngIf="calculation">
  <h3>Calculation:</h3>
  <p>Return: {{calculation.performance| percent:'.2'}}</p>
  <p>StDev: {{calculation.stDev | percent:'.2'}}</p>
  <p>Sharpe: {{calculation.sharpeRatio | number: '.3'}}</p>
  <p *ngFor="let holding of calculation.holdingsData">
    {{holding.ticker}} weight - {{holding.weight | percent:'.2'}}
  </p>
</div>
