<p>
  request-tester works!
</p>

<tag-input [(ngModel)]="tickerSymbols" (ngModelChange)="change()"
  modelAsStrings="true"
  maxItems="3">
</tag-input>

<button (click)="getTestRequest()">
  Test API
</button>
response:
<div *ngFor="let performanceSeries of performanceSeriesList">
  <h3>{{performanceSeries.ticker}}: {{performanceSeries.dateFrom | date}} - {{performanceSeries.dateTo | date}}</h3>
  <p>Return: {{performanceSeries.return | percent:'.2'}}</p>
  <p>StDev: {{performanceSeries.stDev | percent:'.2'}}</p>
  <p>Sharpe: {{performanceSeries.sharpeRatio | number: '.3'}}</p>
</div>

