<div class="middleOfScreen" style="max-width: 900px;">
  <tag-input [(ngModel)]="tickerSymbols" (ngModelChange)="newTickers()" modelAsStrings="true" maxItems="4"
    placeholder="Enter a new ticker symbol"
    secondaryPlaceholder="Enter a ticker symbol"
    *ngIf="tickerSymbolsDB.length > 0"
  >
    <tag-input-dropdown
      [autocompleteItems]="tickerSymbolsDB"
      [showDropdownIfEmpty]="true"
      [dynamicUpdate]="false"
    >
    </tag-input-dropdown>
  </tag-input>
  <button class="btn btn-primary" (click)="makePortfolioCalculations()"
    [disabled]="symbolsLoading > 0 || !performanceSeriesList || performanceSeriesList.length <= 0">
    Optimize!
  </button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Calculation</th>
        <th scope="col">Return</th>
        <th scope="col">Volatility</th>
        <th scope="col">Risk free</th>
        <th scope="col">Sharpe ratio</th>
        <th scope="col" *ngFor="let series of performanceSeriesList">{{series.ticker}}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of calculations;">
        <td>{{ item.name }}</td>
        <td>{{ item.performance | percent:'.2'}}</td>
        <td>{{ item.stDev | percent:'.2'}}</td>
        <td>{{ item.riskFree | percent:'.2'}}</td>
        <td>{{ item.sharpeRatio | number: '.3'}}</td>
        <td *ngFor="let holding of item.holdingsData"
          [ngStyle]="{'font-weight': holding.weight === 1 ? 'bold' : 'normal', 'color': holding.weight === 0 ? 'LightGrey' : 'Black'}">
          {{holding.weight | percent:'.2'}}
        </td>
      </tr>
    </tbody>
  </table>

  <app-surface-plot [inputData]="calculationMaxSharpe" [axisPoints]="weights" [surfacePlotData]="surfacePlotData"></app-surface-plot>
  <app-line-plot [inputData]="calculationMaxSharpe" [linePlotData]="linePlotData"></app-line-plot>
  <app-performance-plot [inputData]="calculations"></app-performance-plot>
  <app-scatter-plot [inputData]="calculations"></app-scatter-plot>

</div>
